.donate {
  padding-top: 12vh;
}

.donate .reasontodonate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 70vw;
}

.donate .reasontodonate .photo {
  padding: 1rem;
}

.donate .reasontodonate .photo img {
  width: 40vw;
  height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.donate .reasontodonate .data {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: content content 10vh 5vh 10vh;
      grid-template-rows: content content 10vh 5vh 10vh;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.donate .reasontodonate .data .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.donate .reasontodonate .data .title h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.donate .reasontodonate .data .title p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.donate .reasontodonate .data .progress {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.donate .reasontodonate .data .progress .progress-bar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ccc;
  height: .8rem;
  margin: 1rem 0;
}

.donate .reasontodonate .data .progress .progress-bar::after {
  content: "";
  display: block;
  width: 83%;
  height: 100%;
  background: #40d5b7;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.donate .reasontodonate .data .donors {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.donate .reasontodonate .data .donors p {
  font-size: 1.2rem;
  color: #555;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.donate .reasontodonate .data .donors strong {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.donate .reasontodonate .data .social {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate .reasontodonate .data .social svg {
  margin: .2rem;
}

.donate .reasontodonate .data .buttons {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donate .reasontodonate .data .buttons button {
  padding: 1rem;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.donate .reasontodonate .data .buttons button:hover {
  background-color: #3b5998;
}

.donate .reasontodonate .data .buttons .gotodonate {
  background-color: #200b7c;
}

.donate .reasontodonate .data .buttons .follow {
  background: white;
  border: 2px solid #200b7c;
  color: #200b7c;
}

.donate .reasontodonate .data .buttons .follow:hover {
  background-color: #200b7c;
  color: white;
}

@media (max-width: 768px) {
  .donate .reasontodonate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  .donate .reasontodonate .photo {
    width: 90vw;
    height: content;
  }
  .donate .reasontodonate .photo img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .donate .reasontodonate .data {
    -ms-grid-rows: 28vh 15vh 10vh 5vh 10vh;
        grid-template-rows: 28vh 15vh 10vh 5vh 10vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
}

.donate .tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw 20vw;
      grid-template-columns: 50vw 20vw;
  -ms-grid-rows: 8vh content;
      grid-template-rows: 8vh content;
  margin: auto;
  width: 70vw;
  grid-gap: 0 2.5rem;
}

.donate .tabs .tab-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.donate .tabs .tab-buttons .tablinks {
  padding: 1.5rem;
  list-style-type: none;
  font-weight: bold;
  border-bottom: .3rem solid white;
  cursor: pointer;
  color: #666;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.donate .tabs .tab-buttons .tablinks:hover {
  border-bottom: .3rem solid #3b5998;
  color: #000;
}

.donate .tabs .tab-buttons .active {
  border-bottom: .3rem solid #3b5998;
  color: #000;
}

.donate .tabs .ourinterest {
  display: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.donate .tabs .ourinterest p {
  line-height: 1.5;
  color: #333;
  font-size: 1.1rem;
  margin: 2rem 0;
}

.donate .tabs .ourinterest h2 {
  font-size: 1.8rem;
}

.donate .tabs .ourinterest h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.donate .tabs .ourinterest hr {
  margin: 2.5rem 0 1.5rem;
  border: .2rem solid #2123bc;
}

.donate .tabs .ourinterest .motivation h3 {
  color: #2123bc;
  font-size: 2rem;
  font-weight: 400;
}

.donate .tabs .ourinterest .motivation .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.donate .tabs .ourinterest .motivation .data .data-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.donate .tabs .ourinterest .motivation .data .data-item h4 {
  padding: .8rem 0 0;
  font-size: 2rem;
}

.donate .tabs .ourinterest .motivation .data .data-item p {
  margin: .25rem;
  text-align: center;
}

@media (max-width: 768px) {
  .donate .tabs .ourinterest .motivation .data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donate .tabs .ourinterest .motivation .data .data-item {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .donate .tabs .ourinterest .motivation .data .data-item h4 {
    padding: .8rem 0 0;
    font-size: 2rem;
  }
  .donate .tabs .ourinterest .motivation .data .data-item p {
    margin: .25rem;
    text-align: center;
  }
}

.donate .tabs .ourinterest .reasons .action-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  margin: .4rem 0;
}

.donate .tabs .ourinterest .reasons .action-item svg {
  margin-right: .5rem;
}

.donate .tabs .FAQ {
  display: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.donate .tabs .updates {
  display: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.donate .tabs .shown {
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 3vh auto 5vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.donate .tabs .donate-by-phone {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donate .tabs .donate-by-phone .by-phone-content {
  height: 36vh;
  width: 100%;
  background: url(//a6e8z9v6.stackpathcdn.com/chariti/demo1/wp-content/uploads/sites/2/2020/02/widget-bg-1-1.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 8vh;
  padding: 3rem 2.5rem 2.5rem;
}

.donate .tabs .donate-by-phone .by-phone-content strong {
  font-size: 1.7rem;
  color: #fff;
  margin: 1rem 0;
}

.donate .tabs .donate-by-phone .by-phone-content p {
  margin: 2rem 0;
  font-size: 1.3rem;
  color: #C2C2FF;
}

.donate .tabs .donate-by-phone .by-phone-content p .mail {
  font-size: 1.3rem;
}

.donate .tabs .donate-by-phone .by-phone-security {
  height: 25vh;
  margin-bottom: 8vh;
  -webkit-box-shadow: 2px 2px 10px #bbb;
          box-shadow: 2px 2px 10px #bbb;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.donate .tabs .donate-by-phone .by-phone-security .https {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate .tabs .donate-by-phone .by-phone-security .https span {
  font-size: 1.5rem;
}

.donate .tabs .donate-by-phone .by-phone-security h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.donate .tabs .donate-by-phone .by-phone-security p {
  color: #666;
  font-size: .95rem;
}

@media (max-width: 768px) {
  .donate .tabs .donate-by-phone .by-phone-content {
    height: 40vh;
    padding: 2.5rem;
    margin-bottom: 3vh;
  }
}

@media (max-width: 768px) {
  .donate .tabs {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donate .tabs .tab-buttons {
    width: 90vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .donate .tabs .tab-buttons .tablinks {
    padding: .8rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=donate.css.map */